# Backend
bin/
obj/
.vs/
.vscode/
*.user
*.userprefs
*.sln.iml
appsettings.*.json
!appsettings.Development.json
.env

# Frontend
node_modules/
dist/
build/
.next/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.local
.env.*.local

# IDE
.idea/
*.swp
*.swo
*~
.cache/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3

# RabbitMQ & Redis
*.aof
*.rdb
